# MyST build outputs
_build

# Jupyter Notebook / Book
.ipynb_checkpoints/
_build/
*.nbconvert.ipynb
objects/
.DS_Store
data-science/.DS_Store
data-science/_build/.DS_Store
data-science/_build/html/.DS_Store
