p {
    text-align: justify;
}

/* 调整主内容区域的最大宽度 */
.bd-main .bd-content .bd-article {
    max-width: 120%; /* 或者你可以设置为 1200px、1400px 等 */
}
    
.goog-te-gadget {
  font-family: Roboto, "Open Sans", sans-serif !important;
  text-transform: uppercase;
}
.goog-te-gadget-simple {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: 1px solid rgba(237, 230, 230, 0.5) !important;
  padding: 8px !important;
  border-radius: 4px !important;
  font-size: 1rem !important;
  line-height: 1rem !important;
  display: inline-block;
  cursor: pointer;
  zoom: 1;
}

.goog-te-gadget-icon {
  background-image: url(https://placehold.it/32) !important;
  background-position: 0px 0px;
  height: 0px !important;
  width: 0px !important;
  margin-right: 8px !important;
  display: none;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none; // add !important if required 
  }
    
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    }
